<section>
  <h2 class="main">Oops, this page doesn't exist!</h2>

{{#if fullPath}}
  <p>Did you mean to go to <a {{bind-attr href="fullPath"}}>{{name}}</a>?</p>
{{/if}}

  <form>
    <fieldset>
      <legend>While you're here...would you like to be productive, or have some fun?</legend>
      <div class="inputs">

        {{radio-button value="productive" checked=selectedAction id="radio-productive"}}
        <label for="radio-productive">I want to be <strong>productive</strong></label>

        {{radio-button value="fun" checked=selectedAction id="radio-fun"}}
        <label for="radio-fun">I want to have <strong>fun</strong></label>
      </div>
    </fieldset>
  </form>
</section>

<section {{bind-attr class="selectedThingy:show :more-stuff"}}>
  <div {{bind-attr class="isProductive:show :user-content"}}>
    <p>You want to be productive! Then learn something:</p>
    {{#each item in videos}}
      {{ember-youtube ytid=item.id showControls=true}}
    {{/each}}
  </div>
  <div {{bind-attr class="isFun:show :user-content"}}>
    <p>You want to have fun! Well, too  bad.</p>
    {{game-of-life options=gameOptions}}
  </div>
</section>


