<section>
  <h2 class="main">Oops, this page doesn't exist!</h2>

{{#if fullPath}}
  <p>Did you mean to go to <a {{bind-attr href="fullPath"}}>{{name}}</a>?</p>
{{/if}}

  <form>
    <fieldset>
      <legend>While you're here...would you like to be productive, or have some fun?</legend>
      <div class="inputs">

        {{radio-button value="productive" checked=selectedAction id="radio-productive" name="user-desire"}}
        <label for="radio-productive">I want to be <strong>productive</strong></label>

        {{radio-button value="fun" checked=selectedAction id="radio-fun" name="user-desire"}}
        <label for="radio-fun">I want to have <strong>fun</strong></label>
      </div>
    </fieldset>
  </form>
</section>

{{! playing around with helpers, addons, computed properties }}
<section {{bind-attr class="selectedThingy:show :more-stuff"}}>
  {{#if isProductive}}
  <div class="show user-content"}}>
    <p>You want to be productive! Then learn something:</p>
    {{ember-youtube ytid=video.id showControls=false name=video.playerid}}
  </div>
  {{/if}}
  <div class="user-content" {{bind-attr class="isFun:show :user-content"}}>
    <p>You want to have fun! Well, <a class="wiki-link" href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">life</a> isn't fair...</p>
    {{game-of-life options=gameOptions}}
  </div>
</section>


